footer {
  background-color: var(--menu-main-color);
  margin: 0;
  padding: 5vh 0;
}

/* container = content. nodisplayflex */
footer .footer__contents {
  /* padding diatur pake media query */
  padding: 0 2vw;
  /***********************************/
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

footer .footer__details {
  border-top: 2px solid #eee;
  color: #fff;
}

footer .details__title {
  margin: 2vh 0 2vh 0;
  display: flex;
  justify-content: space-between;
}

footer .logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  background-color: white;
  border-radius: 28px;
}

footer .logo__container p {
  padding: 0 0 0 0.2vw;
}

.container-logo {
  display: flex;
}

footer p {
  color: var(--first-color);
  font-size: 1em;
  text-align: center;
}

footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

footer hr.small {
  margin: 20px 0;
}

footer .credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 5vh 0 0 0;
}

footer h6 {
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 1vh;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: var(--first-color);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: var(--first-color);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

footer .social-icons {
  text-align: right;
}

/* footer .social-icons a {
    width: .8em;
    height: .8em;
    line-height: .8em;
    margin-right: 0;
    border-radius: 100%;
    background-color: var(--second-color);
} */

footer .social-icons .github,
footer .social-icons .discord,
footer .social-icons .youtube {
  margin-left: 6px;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  width: 2.5em;
  height: 2.5em;
  aspect-ratio: 1;
  /* background-color: var(--second-color);
    background: var(--second-color); */
  color: var(--first-color);
  font-size: 16px;
  display: flex;
  text-align: center;
  border-radius: 100%;
  transition: all 0.5s linear;
  margin-top: 10px;
}

.social-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.instagram:hover {
  background: -webkit-linear-gradient(
    45deg,
    #fcaf45,
    #f77737,
    #e1306c,
    #c13584,
    #833ab4,
    #5b51d8
  );
}
.social-icons a.github:hover {
  background-color: #24292e;
}

.social-icons a.youtube:hover {
  background-color: #e10600;
}

.social-icons a.discord:hover {
  background-color: #7289da;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* LOGO */
footer .logo {
  display: flex;
  justify-content: end;
  margin: 2vh 0 2vh 0;
}

footer .logo__holder--img {
  width: 3em;
  height: 3em;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
}

footer .logo__holder--img img {
  width: 100%;
  height: 100%;
}

footer .logo__holder--desc p {
  text-wrap: nowrap;
  font-family: "Bradley Hand";
  font-weight: bolder;
  font-size: 1.5em;
}

footer .logo__holder--desc p#name {
  text-wrap: nowrap;
  font-family: "Bradley Hand";
  font-weight: bolder;
  font-size: 2.5em;
  margin-bottom: -2vh;
}

footer .logo__holder--desc p#moto {
  text-wrap: nowrap;
  font-family: "Bradley Hand";
  font-weight: bolder;
  font-size: 0.8em;
}

footer .form {
  margin: 8px;
  display: flex;
  flex-wrap: nowrap;
}

footer .form input {
  border: none;
  padding: 0.5vh 0.3vw;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer .form input:focus {
  outline: none;
}

footer .form button {
  background-color: var(--light-color);
  color: var(--hover-color);
  padding: 0.5vh 0.3vw;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 1120px) {
  footer {
    padding-bottom: 0;
  }
}

@media (max-width: 648px) {
  footer {
    padding-bottom: 0;
  }
  footer .credit {
    justify-content: center;
  }
}

@media (max-width: 300px) {
  footer {
    padding: 0.8vh;
    font-size: 0.8em;
  }

  footer h6 {
    font-size: 1em;
    margin-top: 0.8vh;
  }
}
